@media (max-width: 1024px) {
    .head {
        display: flex;
        justify-content: space-between;
        padding-right: 10%;
        align-items: center;
    }

    .nav-block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .navigation {
        display: none;
    }

    .burger {
        display: flex;

    }

    .subtitle-1 {
        font-size: 40px;
        margin-top: 2%;
        margin-bottom: 10%;
    }

    .sec-1 {
        background: rgba(0, 0, 0, 0.6)url("../images/cover-bg.jpg");
        background-blend-mode: darken;
        background-position: right;
        background-size: cover;

    }

    .cards-1 {
        width: 90%;
    }

    .card {
        flex: 90%;
    }


    .card:not(lastchild) {
        margin-bottom: 15px;
    }

    .info {
        display: flex;
        flex-direction: column-reverse;
    }

    .cards-2 {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 3%;
    }

    .img-card-1 {
        width: 55%;
    }

    .img-card-2 {
        width: 55%;
    }

    .img-card-3 {
        display: block;
        width: 55%;

    }

    .img {
        display: none;
    }

    .about-us {
        width: 100%;
    }

    .titles-3 {
        width: 80%;
        font-size: 25px;
    }

    .classes-grid {
        margin: 0 auto;
        display: grid;
        grid-template-columns: auto auto;
    }

    .team {
        flex-direction: column;
    }

    .member-card {
        width: 100%;
    }

    .team-image1 {
        width: 50vw;
    }

    .team-image2 {
        width: 50vw;
    }

    .team-image3 {
        width: 50vw;
    }

    .team-name {
        font-size: 4vw;
    }

    .btn-team {
        font-size: 5vw;
    }

    .sec-5 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .cards-6 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 7vw;
    }

    .card-6 {
        min-width: 50vw;
        min-height: 52vw;
    }

    .headline-6 {
        font-size: 2vw;
    }

    .text-6 {
        font-size: 1.6vw;
    }

    .form-picture {
        flex-direction: column-reverse;
        gap: 5vw;
    }

    .form-picture img {
        width: 100%;
    }

    .subject,
    .email,
    .text-form,
    .submit {
        width: 70vw;
        height: 4vw;
    }

}

@media (max-width: 480px) {
    .head {
        align-items: flex-start;
    }

    .burger {
        font-size: 40px;
    }

    .phone-call {
        display: none;
    }

    .header-icons {
        font-size: 40px;
    }

    .number {
        display: none;
    }

    .title-1 {
        font-size: 25px;
    }

    .subtitle-1 {
        font-size: 35px;
        margin-top: 5%;
        margin-bottom: 20%;
    }

    .cards-1 {
        width: 90%;
        ;
    }

    .cards-2 {
        align-items: center;
        flex-wrap: wrap;
        flex: 100%;

    }

    .img-card-1 {
        width: 100%;
    }

    .img-card-2 {
        width: 100%;
    }

    .img-card-3 {
        width: 100%;
    }

    .titles-3 {
        width: 90%;
        font-size: 20px;
    }

    .classes-grid {
        margin: 0 auto;
        display: grid;
        grid-template-columns: auto;
    }

    .card-6 {
        min-width: 70vw;
        min-height: 72vw;
    }

    .headline-6 {
        font-size: 2vw;
    }

    .text-6 {
        font-size: 1.6vw;
    }

    .sec-7 {
        padding-right: 10px;
        padding-left: 10px;
    }

    .subject,
    .email,
    .text-form,
    .submit {
        width: 100vw;
        min-height: 6vw;
    }

    .contact-headline {
        font-size: 40px;
    }

    .mail-number {
        font-size: 10px;

    }




}