@media (max-width: 1024px) {
    .head {
        display: flex;
        justify-content: space-between;
        padding-right: 10%;
        align-items: center;
    }

    .nav-block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .navigation {
        display: none;
    }

    .burger {
        display: flex;

    }

    .subtitle-1 {
        font-size: 40px;
        margin-top: 2%;
        margin-bottom: 10%;
    }

    .sec-1 {
        background: rgba(0, 0, 0, 0.6)url("../images/cover-bg.jpg");
        background-blend-mode: darken;
        background-position: right;
        background-size: cover;

    }
}

@media (max-width: 480px) {
    .head {
        align-items: flex-start;
    }

    .burger {
        font-size: 40px;
    }

    .phone-call {
        display: none;
    }

    .header-icons {
        font-size: 40px;
    }

    .number {
        display: none;
    }

    .title-1 {
        font-size: 25px;
    }

    .subtitle-1 {
        font-size: 35px;
        margin-top: 5%;
        margin-bottom: 20%;
    }
}